<div class="sidenav border-radius-xl ms-3 my-3">
    <div class="sidenav-header">
        <h4>
            <i class="material-icons inline-icon">list</i> Hellenic Dashboard</h4>
    </div>
    <hr class="dark horizontal my-0">
    <ul>
        <li class="nav-item">
            <h5>SALES</h5>
        </li>
        <li class="nav-item">
            <a href="./dashboard.php" class="transport-button">
                <i class="material-icons inline-icon">dashboard</i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="/view.php" class="transport-button">
                <i class="material-icons inline-icon">table_view</i> Tables
            </a>
        </li>
        <li class="nav-item">
            <a href="/invoices.php" class="transport-button">
                <i class="material-icons inline-icon">receipt_long</i> Invoices
            </a>
        </li>
    </ul>
    <hr class="dark horizontal my-0">
    <ul>
        <li class="nav-item">
            <h5>ACCOUNTS</h5>
        </li>
        <li class="nav-item">
            <a href="./customer.php" class="transport-button">
                <i class="material-icons inline-icon fa">&#xf02b;</i> Customers
            </a>
        </li>
        <li class="nav-item">
            <a class="transport-button">
                <i class="material-icons inline-icon">person</i> Suppliers
            </a>
        </li>
    </ul>
    <hr class="dark horizontal my-0">
    <ul>
        <li class="nav-item">
            <h5>STOCK</h5>
        </li>
        <li>
            <a href="./items.php" class="transport-button">
                <i class="material-icons inline-icon">local_grocery_store</i> Items
            </a>
        </li>
        <li>
            <a href="./stocked_items.php" class="transport-button">
                <i class="material-icons inline-icon">archive</i> Stocked Items</a>
        </li>
        <li class="nav-item">
            <a href="./warehouses.php" class="transport-button">
                <i class="material-icons inline-icon">warehouse</i> Warehouses
            </a>
        </li>
    </ul>
</div>